/* General Reset */
body, h2, p, form, input, button, label, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('uni-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background: linear-gradient(to right, #e3f2fd, #bbdefb);
    color: #3a4aa8;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1rem;
    margin: 10px 0 5px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 2px solid #cfd1dd;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #5c6bc0;
    box-shadow: 0 0 5px rgba(92, 107, 192, 0.5);
}

button {
    background: #3f51b5;
    color: #ffffff;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #5c6bc0;
}

#text {
    margin-top: 10px;
    font-size: 0.9rem;
}

#text a {
    color: #3f51b5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#text a:hover {
    color: #5c6bc0;
}
